body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(249,250,251);
  background: linear-gradient(180deg, rgba(249,250,251,1) 0%, rgba(232,237,241,1) 100%);
  min-height: 100vh;
  min-width: 100vw;
}
#root {
  padding-top: 30px;
}