.card {
    background: rgb(67,91,123);
    background: linear-gradient(180deg, rgba(67,91,123,1) 0%, rgba(33,53,82,1) 100%);
    background-color: #f2f4f7;
    box-shadow: 0px 5px 19px -10px rgba(0, 0, 0, 1);
    max-width: 768px;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}

.fixedWidth {
    width: 80%;
}

.center {
    margin: 0 auto;
}

.small {
    max-width: 420px;
}